@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    ---light-cyan:rgb(59, 201, 199);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title {
    color: var(--cyan);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.green {
    color:var(--bright-yellow);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.description {
    color:var(--grayish-blue);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7;
    margin-right: 5rem;
}

.container {
    width: 1000px;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2;
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 2rem;
}

.containerHeader {
    background: #fff;
    padding: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.containerBody {
    display: flex;
}

.monthly-sub {
    width: 50%;
    padding: 4rem;
    background: var(--cyan);
    border-bottom-left-radius: 10px;
}

.monthly-sub h3 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
}

.price {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--light-gray);
    font-weight: 400;
}

.update {
    font-size: 1rem;
    color: var(--grayish-blue);
    font-weight: 700;
}
.monthlyDescription {
    color: var(--light-gray);
    margin-bottom: 2rem;
}

.btn {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    color: var(--light-gray);
    background: var(--bright-yellow);
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 4px 4px 4px #888888;
}

.why-us {
    padding: 4rem;
    width: 50%;
    background: var(---light-cyan);
    border-bottom-right-radius: 10px;
}

.why-us h3 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.why-us p {
    margin-right: 5rem;
    line-height: 1.7;
    color: var(--light-gray);
}

footer {
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .container {
        width: 80%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .containerBody {
        display: flex;
        flex-direction: column;
    }
    .monthly-sub {
        width: 100%;
        border-radius: 0;
    }

    .why-us {
        width: 100%;
        border-bottom-left-radius: 10px;
    }
}